/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:70%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	background: #000000;
	
}

main {
	font-size: 4em;
	line-height: 2.5em;
	word-spacing: 5px;
	letter-spacing: -1px;
	font-weight:bold;
	rotate: 1 1 0 60deg;
	text-shadow: 2px 2px red;
	position: absolute;
	background: #f7eb05;
	bottom: 65px;
	font-family: "Maven Pro";

}

header {
	color: #ffffff;
}

footer {
	position: absolute;
	bottom: 50px;
	color: #ffffff;
}
#container {
	
}




