html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

body {
	font-family: Courier New, Palatino, sans-serif;
	background: rgb(204,40,14);
	color: rgb(5,5,5);
	margin: 2px;
	padding-top: 10%;
	padding-bottom: 5%;
}
	
div#container {
	width: 150%;
	max-width: 1200px;
	margin: auto;
	padding: 10px;
	padding-top: 10px;
	border: 2px inset #ffffff;
	background: #000000;
	color: white;
	font-family: Century Gothic;
}

header{
		background: #a1a1a1;
		border: 1px dotted #ffffff;
		font-family: Helvetica;
		padding: 5px;
}

ul {
  list-style: none;
  padding-left: 0px;
  color: white;
}

nav li{
	display: inline;
	}

a {
  color:  rgb(204,40,14);
  margin: 5px;
  font-size:1.5em;
  display: inline-block;
  background: #a1a1a1;
  padding: 5px;
	border-radius: 10px;
  border: 1px dotted #ffffff;
}

a:hover {
  color: rgb(255,255,255);
  background: rgb(204,40,14);
}

footer{
	background: #a1a1a1;
	border: 1px dotted white;
	font-family: Baskerviille;
	font-size: 12px;
	padding: 5px;
}
	
img{
	width: 100%;
	}